body {
    margin: 0;
    padding: 0;
}

#container {
    width: 1024px;
    height: 768px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

#character {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 102, 0);
    position: absolute;
    background-image: url();
}

.obstacle {
    position: absolute;
}

#timer {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 24px;
    z-index: 1;
    color: aliceblue;
}

#points {
    position: absolute;
    top: 10px;
    left: 950px;
    font-size: 24px;
    z-index: 1;
    color: aliceblue;

}

#lifeCount {
    position: absolute;
    top: 10px;
    left: 500px;
    font-size: 24px;
    z-index: 1;
    color: aliceblue;
}

.hidden {
    display: none;
}

#gameOver {
    position: absolute;
    top: 250px;
    left: 270px;
    font-size: 48px;
    z-index: 1;
    color: aliceblue;
}

#restartButton {
    position: absolute;
    top: 400px;
    left: 400px;
    font-size: 48px;
    z-index: 1;
    color: rgb(17, 17, 17);
}

.asteroid {
    background-image: url('../img/space_ship.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.spaceship {
    background-image: url('../img/asteroid-isolated.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}